
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Libraries CSS Files -->
    <link href="../static/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
    <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../static/lib/venobox/venobox.css" rel="stylesheet">
  
    <!-- Nivo Slider Theme -->
    <link href="../static/css/nivo-slider-theme.css" rel="stylesheet">
  
    <!-- Main Stylesheet File -->
    <link href="../static/css/style.css" rel="stylesheet">
  
    <!-- Responsive Stylesheet File -->
    <link href="../static/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Document</title>
</head>
    
<body>
    <style>
 
    
        #GTP {
          display: block;
          position: fixed;
          bottom: 20px;
          right: 30px;
          z-index: 99;
          font-size: 18px;
          border: none;
          outline: none;
          background-color: red;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
        }
        #input-area
    {
          position: fixed;
          bottom: 10%;
          right: 40%;
          z-index: 99;
          font-size: 18px;
          border: none;
          outline: none;
          background-color: red;
          color: white;
          cursor: pointer;
          padding: 15px;
          border-radius: 4px;
    }
        #GTP:hover {
          background-color: #555;
        }
        </style>
    
    
    
    
      <a href="{{url_for('index2')}}">  <button id="GTP" title="Sketch">L <br> e <br> a <br> v<br> e<br> </button></a>
    
      <a class="navbar-brand" href="{{url_for('index2')}}">InterWeb</a>
        {% if current_user.is_authenticated %}
        <li>  <a   href="#" id="USERNAMES" style="background-color: rgb(255, 136, 1); position: absolute;
          top: 10px;
          right: 100px;" >{{USERS}} </a>  </li>   
       
       

        <a href="{{url_for('LOGOUT')}} "class=" ready-btn2 " style="position: absolute;
        top: 10px;
        right: 10px;" >Logout</a>
        {% else %}
        <!-- <a href="{{url_for('register')}}" class="myButton  btn btn-info" style="position: absolute;
          top: 10px;
          right: 10px;"> SignUp </a>
        <a href="{{url_for('LOGIN')}}" class="myButton  btn btn-info" style="position: absolute;
          top: 10px;
          right: 100px;"> Sign In </a> -->
        {% endif %}    
    
        <a id="select-room">{{rooms}} </a>

        <div>
            <canvas id="client_view"></canvas>
            <div id="display-message-section" style="  overflow: auto;">
                
              </div>
              
              <div id="input-area" style="position:fixed;">
                  <center>
  
                  <!-- <button type="button" id="SendVideo">Camera</button> -->
  
                  <input type="text" Placehoder="Type your message" value="HI" id="user-message" autocomplete="on" style="color:black;">
                  <button type="button" id="SendMsg" style="color:black;">Send</button>
                </center>
                </div>

        </div>


<div id="container" style="width:840px; height: 400px; display: none; ">
  
  <div class="invisible">
    <video id="videoInput" class="hidden">Your browser does not support the video tag.</video>
    <canvas id="canvasOutput"></canvas>
      

    </div>

  </div>
</div>
<!-- <script async src="https://huningxin.github.io/opencv.js/build/asm.js/opencv.js" onload="opencvIsReady()"></script> -->

<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" ></script>
<script src="{{ url_for('static', filename='scripts/socketio.js')}}"></script>

<script src="{{ url_for('static', filename='scripts/socketio_Video.js')}}"></script>

<script async type="text/javascript" src="{{ url_for('static', filename='scripts/opencv.js')}}" onload="opencvIsReady()"></script>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.5/dat.gui.min.js"></script>
</body>
</html>




